<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      soluta, repudiandae nostrum dicta ipsam quaerat illum molestias? Soluta
      similique, fugiat reiciendis optio eum qui totam ad quo repudiandae,
      tenetur vero quibusdam error aperiam nesciunt quas distinctio dolorum
      incidunt commodi esse et obcaecati, eveniet recusandae rem asperiores.
      Adipisci neque suscipit eius.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      soluta, repudiandae nostrum dicta ipsam quaerat illum molestias? Soluta
      similique, fugiat reiciendis optio eum qui totam ad quo repudiandae,
      tenetur vero quibusdam error aperiam nesciunt quas distinctio dolorum
      incidunt commodi esse et obcaecati, eveniet recusandae rem asperiores.
      Adipisci neque suscipit eius.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      soluta, repudiandae nostrum dicta ipsam quaerat illum molestias? Soluta
      similique, fugiat reiciendis optio eum qui totam ad quo repudiandae,
      tenetur vero quibusdam error aperiam nesciunt quas distinctio dolorum
      incidunt commodi esse et obcaecati, eveniet recusandae rem asperiores.
      Adipisci neque suscipit eius.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      soluta, repudiandae nostrum dicta ipsam quaerat illum molestias? Soluta
      similique, fugiat reiciendis optio eum qui totam ad quo repudiandae,
      tenetur vero quibusdam error aperiam nesciunt quas distinctio dolorum
      incidunt commodi esse et obcaecati, eveniet recusandae rem asperiores.
      Adipisci neque suscipit eius.
    </p>
  </div>
</div>
