<div class="card">
  <h2>About extra</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maxime? Laudantium dicta commodi nisi quaerat dolorum, similique corrupti nemo.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maxime? Laudantium dicta commodi nisi quaerat dolorum, similique corrupti nemo.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maxime? Laudantium dicta commodi nisi quaerat dolorum, similique corrupti nemo.</p>
</div>
